<nav class="navbar navbar-expand-lg navbar-light bg-dark">	  
		<div class="collapse navbar-collapse" id="navbarColor02" style='font-size: 1.5vw'>
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="/" style="color: white">Home <span class="sr-only">(current)</span></a>
			</li>
		  </ul>
		  <ul class="navbar-nav">
				<li class="nav-item ">
						<a class="nav-link text-light" href="/signin" style="color: white">Signin</a>
				</li>
          </ul>
		</div>
</nav>
