<!-- {{('/' + ((postcount / 6+1)|int)|string)}} -->
{% for i in range(postcount) %}
{% if (request.path == '/') or (request.path == '/1') %}
  {% if loop.index <= 6 %}
    <div class="card shadow-lg" style="width: 17rem; margin: 0.7em;">
        <img src="static/img/{{post[i].img}}" class="card-img-top" alt="photo" style="max-width: 100%; height: auto;"/>
        <div class="card-body">
          <h5 class="card-title">{{post[i].postTitle}}</h5>

          {% if session.userEmail %}
            <button type="submit" class="btn btn-outline-dark btn-sm float-right" onclick="location.href='/postmore/{{post[i].postTitle}}/{{post[i].postContent}}'" style="margin-right:5px;">
              more
            </button>
          {% else %}
            <p class="card-text text-center">자세히 보려면 로그인 하세요.</p>
          {% endif %}
        </div>
    </div>
  {% endif %}
{% elif request.path == ('/' + num) %}
  {% if loop.index > 6 * (num|int - 1) and loop.index <= 6 * num|int %}
    <div class="card shadow-lg" style="width: 17rem; margin: 0.7em;">
        <img src="static/img/{{post[i].img}}" class="card-img-top" alt="photo" style="max-width: 100%; height: auto;"/>
        <div class="card-body">
          <h5 class="card-title">{{post[i].postTitle}}</h5>

          {% if session.userEmail %}
            <button type="submit" class="btn btn-outline-dark btn-sm float-right" onclick="location.href='/postmore/{{post[i].postTitle}}/{{post[i].postContent}}'" style="margin-right:5px;">
              more
            </button>
          {% else %}
            <p class="card-text text-center">자세히 보려면 로그인 하세요.</p>
          {% endif %}
        </div>
    </div>
  {% endif %}
{% endif %}
{% endfor %}