<!-- Button trigger modal -->
<button type="button" class="btn btn-warning btn-sm float-right" style="margin-right:5px;" data-toggle="modal" data-target="#updateModal">
        Update
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              
              <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        
              <div class="modal-body">
                <form action="/post/update" method="POST">
                  <div class="form-group">
                    <label for="postTitle">Title</label>
                    <input type="text" name="postTitle" class="form-control" id="postTitle" placeholder="Enter title." value="{{post.postTitle}}">
                  </div>
                  <div class="form-group">
                    <label for="postContent">Content</label>
                    <textarea rows="10" name="postContent" class="form-control" id="postContent" placeholder="Enter Content.">{{post.postContent}}</textarea>
                  </div>
              </div>
        
              <input type="hidden" name="obj_id" value="{{post._id}}">
              <div class="modal-footer">
                <button type="submit" class="btn btn-warning">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>       
              </div>
            </div>
          </div>
        </div>