{% extends 'base.html' %}
{% block content %}
<div class = 'container col-md-11'>
	<div class="row justify-content-around">
        <div class="col-md-3 form-control jumbotron shadow-lg text-center" style="height: auto; max-height: 380px; max-width: 80%">
            {% for profile in profile %}
                <img src="static/img/photo.jpeg" alt="photo" style="max-width: 35%; height: auto; border-radius: 50%;"/>
                <p></p>
                <h5>
                    {{profile.profileName1}}
                    <br/>
                    {{profile.profileName2}}
                </h5>
                <blockquote class="blockquote text-black-50">
                    <p class="mb-0">{{profile.profileContents}}</p>
                    <p></p>
                    <p class="mb-0">{{profile.profileTitle}}</p>
                </blockquote>
            {% endfor %}
                
            {% if session.userEmail == 'admin@admin'%}
                <a href="/profile" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Edit Profile</a>
            {% endif%}
        </div>
        
        <div class="col-md-8">
            <div class="row">
                {% with post = post %}
                    {% include "postview.html" %}
                {% endwith %}
            </div>
            {% if postcount > 6 %}
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#1">1</a></li>
                <li class="page-item"><a class="page-link" href="#2">2</a></li>
            </ul>
            {% endif %}
        </div>
	</div>
    <p/>
    {% if session.userEmail == 'admin@admin'%}
    <div class="row justify-content-around">
        <div class="col-md-3" style="text-align: center">
            </div>
        <div class="col-md-8" style="text-align: center">
            <a href="/posting" class="btn btn-secondary btn-lg text-right" role="button" aria-pressed="true">Posting</a>
            <div>
    </div>
    {% endif %}
</div>
{% endblock content %}
