{% extends 'base.html' %}
{% block content %}
<div class = 'container col-md-11'>
	<div class="row justify-content-around">
        <div class="col-md-3 form-control jumbotron shadow-lg text-center" style="height: auto; max-height: 380px; max-width: 80%">
			<img src="static/img/photo.jpeg" alt="photo" style="max-width: 35%; height: auto; border-radius: 50%;"/>
			<p></p>
			<h5>Ji-hyeon Lee<br/>
                Geun-hyeok Oh
            </h5>
			<blockquote class="blockquote text-black-50">
				<p class="mb-0">beginner programer</p>
				<p class="mb-0">screendoor</p>
				<p></p>
				<p class="mb-0">My Portfolio</p>
			</blockquote>
		</div>
        <table class="col-md-8 table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="text-align: center">#</th>
                    <th scope="col" style="width: 500px; text-align: center">제목</th>
                    <th scope="col" style="text-align: center">날짜</th>
                </tr>
            </thead>
            
            {% for i in post %}
            <tbody>
                <tr>
                    <th scope="row" style="text-align: center">#</th>
                    <td>
                        <a href="/postview">
                            {{i.title}}
                        </a>
                    </td>
                    <td style="text-align: center">2019-06-06</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
	</div>
    <p/>
    {% if session.userEmail == 'admin@admin'%}
    <div class="row justify-content-around">
        <div class="col-md-3" style="text-align: center">
            <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Edit</a>
            </div>
        <div class="col-md-8" style="text-align: center">
            <a href="/post" class="btn btn-secondary btn-lg active text-right" role="button" aria-pressed="true">Posting</a>
            <div>
    </div>
    {% endif %}
    <p/>
    <div class="row justify-content-around">
        <div class="col-md" style="text-align: center">
            <a href="/posting" class="btn btn-secondary btn-lg active text-right" role="button" aria-pressed="true">Update</a>
            <div>
    </div>
</div>
{% endblock content %}
